.matchupCard_button {
  justify-content: center !important;
}

.matchupCard_team {
  padding-top: 10px;
}


.matchupCard_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.matchupCard_teamName {
  padding-right: 20px;
  color: black;
}
