.waivers_search {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
}

.waivers_bank-balance {
  float: center;
  text-align: center;
}

.MuiTableCell-root {
  padding-left: 0px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.MuiTableCell-paddingCheckbox {
  width: 8px !important;
}

.myWaivers_yourStocksLink {
  color: green;
  font-size: 18px;
}
